.footer {
  background-color: #0B265A;
  color:#D9DBDE;
  padding: 120px 0 120px;
  margin: 0 auto;
  @include breakpoint(md){
    padding: 80px 0 80px;
  }
  @include breakpoint(sm){
    padding: 40px 0 40px;
  }
  a{
    color: #D9DBDE;
    &:hover{
      text-decoration: underline;
    }
  }
}

.footer__row {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 650px){
    flex-direction: column;
  }
}

.footer__comp {
  max-width: 186px;
  @media screen and (max-width: 650px){
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 100%;
  }

}
.footer__comp-wrapper{
  @media screen and (max-width: 650px){
    margin: 30px 0 20px;
  }
}

.footer__comp-desc {
  margin: 13px 0 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28/16*100%;
  @media screen and (max-width: 650px){
    margin-bottom: 10px;

  }
}

.footer__comp-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 39 / 32 * 100%;
  color: #FFFFFF;
}

.footer__socials {

  span{
    color: white;
    font-size: 32px;
    margin-left: 24px;
    &:first-child{
      margin: 0;
    }
  }

}

.footer__lists{

  display: flex;

  @media screen and (max-width: 650px) {
    justify-content: center;
  }

  @media screen and (max-width: 460px){
    //flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
  }

}

.footer__list{
  margin-left: 111px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 800px){
    margin-left: 40px;
  }

  @include breakpoint(sm){
    align-items: start;
  }
  &:first-child{
    margin: 0;
  }
  &:last-child{
    @media screen and (max-width:460px){
      margin-top: 30px;
    }
  }
  li{
    margin-bottom: 24px;
    &:first-child{
      color:#fff;
      font-weight: 700;
    }
    &:last-child{
      margin:0;
    }
  }
  @media screen and (max-width: 650px){
    margin-left: 40px;
    li{
      margin-bottom: 12px;
    }
  }
  @media screen and (max-width:460px){
    margin: 0;
    width: 50%;
    li{
      margin-bottom: 4px;
    }
  }
}