body.lock{
  @include breakpoint(md){
    overflow: hidden;
  }
}

.header{
  //border-bottom: 1px solid #E2E8F0;

  background-color: $navBgColor;
}

.nav{
  //padding: 0 15px ;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 121px;
  background-color: $navBgColor;
  @include breakpoint(md){
    padding: 0 15px;
    position: fixed;
    width: calc(100% - 30px);
  }
}

.hamburger {
  display: none;
  @include breakpoint(md){
    display: block;
    cursor: pointer;
    &.active .hamburger__bar:nth-child(2) {
      opacity: 0;
    }
    &.active .hamburger__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    &.active .hamburger__bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $burgerColor;
}

.nav__menu {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.active{
    @include breakpoint(md){
      padding-bottom: 6rem;
      left: 0;
      height: 100%;
      justify-content: start;
    }
  }
  @include breakpoint(md){
    justify-content: start;
    height: 100%;
    position: fixed;
    left: -100%;
    top: 121px;
    flex-direction: column;
    background-color: $navBgColor;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    &.active{
      left:0;
    }
  }
}

.nav__item {
  margin-left: 32px;

  &:after{
    content:'';
    display: block;
    border-bottom: solid 3px $navTextColor;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &:nth-last-child(n+2):hover:after{
    transform: scaleX(1);
  }

  @include breakpoint(md){
    margin:2.5rem 0;
  }
}

.nav__link{
  font-weight: 500;
  font-size: 16px;
  line-height: 19 / 16 * 100%;
  color: $navTextColor;
  @include breakpoint(md){
    font-size: 2rem;
  }
  /*&:hover{
    color: $navTextHoverColor;
  }*/
}

.nav__logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 39 / 32 * 100%;
  color: #192252;
}
.main > .content{
  @include breakpoint(md){
    padding-top: 121px;
  }
}
