@charset "utf-8";

@import "vendor/_verndor-dir";
@import "abstracts/_abstracts-dir";
@import "core/_core-dir";
@import "components/_components-dir";
@import "layouts/_layouts-dir";
@import "pages/_pages-dir";

.content{
  max-width: 1200px;
  margin:0 auto;
  @include breakpoint(md){
    padding: 0 15px;
  }
  @media screen and (max-width: 1200px){
    padding: 0 15px;
  }
}

body{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848FAC;
  @include breakpoint(sm){
    font-size: 16px;
    text-align: center;
  }

}