h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #192252;
  line-height: 150%;
}
h1{
  font-size: 48px;
  @include breakpoint(sm){
    font-size: 34px;
    text-align: center;
    line-height: 130%;
  }
}

h2{
  font-size: 36px;
  @include breakpoint(md){
    font-size: 28px;
  }
}

h3{
  font-weight: 700;
  font-size: 32px;
  line-height: 39 / 32 * 100%;
  color: #FFFFFF;

}

h4{
  font-size: 24px;
  color:#000000;
  @include breakpoint(md){
    font-size: 18px;
  }
}
h5{
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
h6{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19 /16 * 100%;
}
a{
  color: #424F7B;
  font-size: 18px;
  line-height:  150%;

  &:hover{
    transition-duration: 0.5s;
    color:#000000;
    &:after{
      color:#000000;
  }
  }
}
.faq__card-title{
  @extend h4;
  color: #192252;
}