@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@600;700&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/iconfont/icomoon.eot?rhxc22");
  src: url("../fonts/iconfont/icomoon.eot?rhxc22#iefix") format("embedded-opentype"), url("../fonts/iconfont/icomoon.ttf?rhxc22") format("truetype"), url("../fonts/iconfont/icomoon.woff?rhxc22") format("woff"), url("../fonts/iconfont/icomoon.svg?rhxc22#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea, select {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, .faq__card-title, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1, h2, h3, h4, .faq__card-title, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #192252;
  line-height: 150%;
}

h1 {
  font-size: 48px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 34px;
    text-align: center;
    line-height: 130%;
  }
}

h2 {
  font-size: 36px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 121.875%;
  color: #FFFFFF;
}

h4, .faq__card-title {
  font-size: 24px;
  color: #000000;
}
@media (max-width: 768px) {
  h4, .faq__card-title {
    font-size: 18px;
  }
}

h5 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 118.75%;
}

a {
  color: #424F7B;
  font-size: 18px;
  line-height: 150%;
}
a:hover {
  transition-duration: 0.5s;
  color: #000000;
}
a:hover:after {
  color: #000000;
}

.faq__card-title {
  color: #192252;
}

.btn {
  background: #0E1734;
  border-radius: 4px;
  color: #fff;
  padding: 16px 19px;
  display: block;
  font-size: 16px;
  line-height: 118.75%;
  transition: all 0.4s ease-in;
  /*  @include breakpoint(sm){
      margin: 0 auto;
      font-size: 20px;
    }*/
}
.btn:hover {
  background: #223678;
}

.header__btn {
  padding: 14px 16px;
}
@media (max-width: 768px) {
  .header__btn {
    display: none;
  }
}

.header__btn_small {
  display: none;
}
@media (max-width: 768px) {
  .header__btn_small {
    display: block;
  }
}

.collapsible {
  background-color: #fff;
  color: white;
  cursor: pointer;
  padding: 32px 36px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active, .collapsible:hover {
  background-color: #fff;
}

.faq__toggle-default {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FF620A;
  position: relative;
}
.faq__toggle-default.active {
  display: block;
}

.faq__img-collapse {
  position: absolute;
  max-width: 24px;
  max-height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.faq__open-collapse {
  background: rgba(255, 98, 10, 0.12);
}

.collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.1ms;
  background-color: #fff;
  opacity: 0;
}
.collapse-content.active1 {
  opacity: 1;
  padding: 0 36px 36px;
}

.faq__collapse-wrapper {
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  margin-bottom: 24px;
}
.faq__collapse-wrapper:last-child {
  margin-bottom: 0;
}

.dots-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__wrapper {
  display: flex;
}

.dots {
  margin-right: 12px;
  width: 8px;
  height: 8px;
  background-color: #FCD297;
  border-radius: 50%;
}
.dots:last-child {
  margin-right: 0;
}
.dots.active {
  width: 12px;
  height: 12px;
  background-color: #FAB047;
}

.slider__item {
  max-width: 800px;
  margin: 0 auto;
  display: none;
}
.slider__item.active {
  display: block;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
}

.header {
  background-color: white;
}

.nav {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 121px;
  background-color: white;
}
@media (max-width: 768px) {
  .nav {
    padding: 0 15px;
    position: fixed;
    width: calc(100% - 30px);
  }
}

.hamburger {
  display: none;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .hamburger__bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .hamburger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .hamburger__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav__menu {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .nav__menu.active {
    padding-bottom: 6rem;
    left: 0;
    height: 100%;
    justify-content: start;
  }
}
@media (max-width: 768px) {
  .nav__menu {
    justify-content: start;
    height: 100%;
    position: fixed;
    left: -100%;
    top: 121px;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav__menu.active {
    left: 0;
  }
}

.nav__item {
  margin-left: 32px;
}
.nav__item:after {
  content: "";
  display: block;
  border-bottom: solid 3px #192252;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.nav__item:nth-last-child(n+2):hover:after {
  transform: scaleX(1);
}
@media (max-width: 768px) {
  .nav__item {
    margin: 2.5rem 0;
  }
}

.nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 118.75%;
  color: #192252;
  /*&:hover{
    color: $navTextHoverColor;
  }*/
}
@media (max-width: 768px) {
  .nav__link {
    font-size: 2rem;
  }
}

.nav__logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 121.875%;
  color: #192252;
}

@media (max-width: 768px) {
  .main > .content {
    padding-top: 121px;
  }
}

.footer {
  background-color: #0B265A;
  color: #D9DBDE;
  padding: 120px 0 120px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .footer {
    padding: 80px 0 80px;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 40px 0 40px;
  }
}
.footer a {
  color: #D9DBDE;
}
.footer a:hover {
  text-decoration: underline;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  .footer__row {
    flex-direction: column;
  }
}

.footer__comp {
  max-width: 186px;
}
@media screen and (max-width: 650px) {
  .footer__comp {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .footer__comp-wrapper {
    margin: 30px 0 20px;
  }
}

.footer__comp-desc {
  margin: 13px 0 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
}
@media screen and (max-width: 650px) {
  .footer__comp-desc {
    margin-bottom: 10px;
  }
}

.footer__comp-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 121.875%;
  color: #FFFFFF;
}

.footer__socials span {
  color: white;
  font-size: 32px;
  margin-left: 24px;
}
.footer__socials span:first-child {
  margin: 0;
}

.footer__lists {
  display: flex;
}
@media screen and (max-width: 650px) {
  .footer__lists {
    justify-content: center;
  }
}
@media screen and (max-width: 460px) {
  .footer__lists {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
  }
}

.footer__list {
  margin-left: 111px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .footer__list {
    margin-left: 40px;
  }
}
@media (max-width: 576px) {
  .footer__list {
    align-items: start;
  }
}
.footer__list:first-child {
  margin: 0;
}
@media screen and (max-width: 460px) {
  .footer__list:last-child {
    margin-top: 30px;
  }
}
.footer__list li {
  margin-bottom: 24px;
}
.footer__list li:first-child {
  color: #fff;
  font-weight: 700;
}
.footer__list li:last-child {
  margin: 0;
}
@media screen and (max-width: 650px) {
  .footer__list {
    margin-left: 40px;
  }
  .footer__list li {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 460px) {
  .footer__list {
    margin: 0;
    width: 50%;
  }
  .footer__list li {
    margin-bottom: 4px;
  }
}

/*ICON_FONTS*/
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:after {
  content: "\e900";
  color: #424f7b;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  right: 0;
  transition: 0.4s;
}

.icon-arrow:hover:after {
  right: -7px;
}

.icon-facebook:before {
  content: "\e901";
  color: #fff;
}

.icon-instagram:before {
  content: "\e902";
  color: #fff;
}

.icon-twitter:before {
  content: "\e903";
  color: #fff;
}

/*ICON_FONTS*/
@media (max-width: 576px) {
  .main__btn-wrapper button {
    margin: 0 auto;
  }
}

.main__img {
  display: flex;
  position: relative;
  gap: 3%;
}

.main__img-wrapper:nth-child(2) {
  position: relative;
  top: 80px;
  margin-bottom: 96px;
}
@media screen and (max-width: 480px) {
  .main__img-wrapper:nth-child(2) {
    top: 70px;
  }
}
@media screen and (max-width: 390px) {
  .main__img-wrapper:nth-child(2) {
    top: 50px;
  }
}
@media (max-width: 320px) {
  .main__img-wrapper:nth-child(2) {
    margin-bottom: 72px;
    top: 40px;
  }
}

.main {
  padding: 80px 0 0;
}
@media (max-width: 768px) {
  .main {
    padding-top: 20px;
  }
}

.main__row {
  display: flex;
  column-gap: 24px;
  align-items: center;
}
@media (max-width: 992px) {
  .main__row {
    flex-direction: column-reverse;
  }
}

.main__text-content {
  max-width: 557px;
}

.main__text {
  max-width: 485px;
  margin: 24px 0 32px;
}
@media (max-width: 576px) {
  .main__text {
    margin: 24px auto 32px;
  }
}

/*SECTION__CARDS*/
.cards {
  margin-top: 176px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .cards {
    margin-top: 88px;
    padding: 0 0 40px;
  }
}

.card {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .card {
    column-gap: 5%;
    justify-content: normal;
  }
}
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    margin-top: 88px;
  }
}

.card__img-wrapper {
  position: relative;
  overflow: hidden;
  height: 576px;
  width: 384px;
}
@media (max-width: 768px) {
  .card__img-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 384px) {
  .card__img-wrapper {
    height: 436px;
  }
}

.card__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 576px;
  width: 384px;
}
@media screen and (max-width: 384px) {
  .card__img {
    width: 100%;
    height: 436px;
  }
}

.card__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 690px;
}
@media screen and (max-width: 1200px) {
  .card__text {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .card__text {
    max-width: 557px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .card__title {
    text-align: center;
  }
}

.card__desc {
  max-width: 584px;
}
@media (max-width: 768px) {
  .card__desc p {
    text-align: center;
  }
}
.card__desc p:first-child {
  margin: 24px 0 16px;
}
.card__desc p:last-child {
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .cards__lm {
    margin: 0 auto;
  }
}

/*SECTION__CARDS*/
/*ADVANTAGES__CARDS*/
.advantages {
  padding: 80px 0;
}
.advantages .advantages__row {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .advantages {
    padding: 40px 0;
  }
}

.advantages__row {
  display: flex;
  flex-direction: column;
}

.advantages__card {
  display: flex;
  justify-content: space-between;
}
.advantages__card:last-child {
  flex-direction: row-reverse;
}
.advantages__card:first-child {
  margin-bottom: 32px;
}
@media screen and (max-width: 830px) {
  .advantages__card {
    justify-content: normal;
    column-gap: 5%;
  }
}
@media (max-width: 768px) {
  .advantages__card {
    flex-direction: column-reverse;
    align-items: center;
  }
  .advantages__card:last-child {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.advantages__text {
  display: flex;
  flex-direction: column;
  max-width: 584px;
  flex-basis: 50%;
  justify-content: center;
}

.advantages__title {
  margin: 20px 0 24px;
}
@media (max-width: 768px) {
  .advantages__title {
    text-align: center;
  }
}

.advantages__img-wrapper {
  width: 384px;
  height: 384px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 384px) {
  .advantages__img-wrapper {
    width: 100%;
    height: 340px;
  }
}

.advantages__img {
  position: absolute;
  width: 100%;
  height: 384px;
  top: 50%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 384px) {
  .advantages__img {
    width: 100%;
    height: 340px;
  }
}

/*ADVANTAGES__CARDS*/
/*ROOMS*/
.rooms {
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .rooms {
    padding-bottom: 30px;
  }
}

.rooms__row {
  justify-content: space-between;
  display: flex;
}
@media screen and (max-width: 700px) {
  .rooms__row {
    flex-direction: column;
    justify-content: center;
  }
}

.rooms__footer {
  display: flex;
  flex-direction: column;
}

.rooms__title {
  text-align: center;
}

.rooms__text {
  margin: 24px auto 32px;
  max-width: 584px;
}

.rooms__btn-wrapper button {
  margin: 0 auto 88px;
}

.rooms__text-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.rooms__card {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 700px) {
  .rooms__card {
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.rooms__img-wrapper {
  width: 100%;
  height: 489px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  .rooms__img-wrapper {
    height: 364px;
  }
}

.rooms__img {
  width: 100%;
  height: 489px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  object-fit: cover;
  transition-duration: 0.3s;
}
.rooms__img:hover {
  transform: translate(-50%, -50%) scale(1.2);
}
@media (max-width: 768px) {
  .rooms__img {
    height: 364px;
  }
}
@media screen and (max-width: 700px) {
  .rooms__img {
    max-width: 340px;
  }
}

.rooms__card-title {
  margin-top: 32px;
}
@media (max-width: 768px) {
  .rooms__card-title {
    margin-top: 20px;
    text-align: center;
  }
}

.rooms__card-description {
  margin: 16px 0 32px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .rooms__card-description {
    font-size: 16px;
  }
}
@media screen and (max-width: 700px) {
  .rooms__card-description {
    max-width: 400px;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .rooms__learn-btn-wrapper {
    text-align: center;
  }
}

/*ROOMS*/
/*FAQ*/
.faq {
  padding: 80px 0 84px;
}

.faq__row {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1050px) {
  .faq__row {
    justify-content: normal;
    gap: 5%;
  }
}
@media (max-width: 768px) {
  .faq__row {
    flex-direction: column;
  }
}

.faq__column:last-child {
  max-width: 588px;
}
@media (max-width: 768px) {
  .faq__column:last-child {
    max-width: 100%;
  }
}

.faq__column:first-child {
  justify-content: center;
  flex-direction: column;
  display: flex;
  max-width: 415px;
}
@media (max-width: 768px) {
  .faq__column:first-child {
    max-width: 100%;
  }
}

.faq__title {
  margin: 24px 0 12px;
}

.faq__desc {
  margin-bottom: 32px;
}

.faq__btn-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.faq__btn-wrapper a {
  margin-left: 24px;
  color: #0E1734;
  display: inline-block;
  border-bottom: 1px solid white;
  transition: 0.4s;
}
.faq__btn-wrapper a:hover {
  border-bottom: 1px solid #0E1734;
}
@media (max-width: 992px) {
  .faq__btn-wrapper {
    flex-direction: column;
    align-items: start;
  }
  .faq__btn-wrapper a {
    margin: 25px 0 0;
  }
}
@media (max-width: 768px) {
  .faq__btn-wrapper {
    flex-direction: row;
    margin-bottom: 24px;
    align-items: center;
  }
  .faq__btn-wrapper a {
    margin: 0 0 0 24px;
  }
}
@media (max-width: 576px) {
  .faq__btn-wrapper {
    justify-content: center;
  }
}
@media screen and (max-width: 350px) {
  .faq__btn-wrapper {
    flex-direction: column-reverse;
  }
  .faq__btn-wrapper a {
    margin: 0 0 15px;
  }
}

/*FAQ*/
/*CUSTOMERS*/
.customers {
  padding: 80px 0 80px;
}

.customers_title {
  text-align: center;
}

.slider__img {
  display: flex;
  justify-content: center;
  margin: 62px 0 44px;
}
@media (max-width: 768px) {
  .slider__img {
    margin: 32px 0 22px;
  }
}

.slider__desc {
  text-align: center;
  overflow: hidden;
  max-height: 81px;
}
@media (max-width: 768px) {
  .slider__desc {
    overflow: auto;
    max-height: 150px;
  }
}

.slider__author {
  margin: 40px 24px;
  text-align: center;
  color: #192252;
}
@media (max-width: 768px) {
  .slider__author {
    margin: 20px 12px;
  }
}

/*CUSTOMERS*/
.content {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .content {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1200px) {
  .content {
    padding: 0 15px;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848FAC;
}
@media (max-width: 576px) {
  body {
    font-size: 16px;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
