.dots-wrapper {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.slider-wrapper {
  display: flex;
}

.dots {
  margin-right: 12px;
  width: 8px;
  height: 8px;
  background-color: #FCD297;
  border-radius: 50%;
}
.dots:last-child {
  margin-right: 0;
}
.dots.active {
  width: 12px;
  height: 12px;
  background-color: #FAB047;
}

.slider-item {
  display: none;
}
.slider-item.active {
  display: block;
}

/*# sourceMappingURL=sllider.css.map */
