.btn{
  background: #0E1734;
  border-radius: 4px;
  color:#fff;
  padding: 16px 19px;
  display: block;
  font-size: 16px;
  line-height: 19/16*100%;
  transition: all 0.4s ease-in;
/*  @include breakpoint(sm){
    margin: 0 auto;
    font-size: 20px;
  }*/
  &:hover{
    background: #223678;
  }
}

.header__btn{
  padding:14px 16px;
  @include breakpoint(md){
  display: none;
}
}
.header__btn_small{
  display: none;
  @include breakpoint(md){
    display: block;
  }
}
