.collapsible {
  background-color: #fff;
  color: white;
  cursor: pointer;
  padding: 32px 36px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .4s ease-in-out;
}

.collapsible:hover {
  background-color: #efeeee;

  .faq__open-collapse{
    background-color: #eedcd2;
  }
}

.faq__toggle-default{
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FF620A;
  position: relative;
  &.active{
    display: block;
  }
}

.faq__img-collapse{
    position: absolute;
    max-width: 24px;
    max-height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.faq__close-collapse{

}

.faq__open-collapse{
  background-color: #FFECE1;
  transition: background-color .4s ease-in-out;
}


.collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.1ms;
  background-color: #fff;
  opacity: 0;
  &.active1{
    opacity: 1;
    padding: 16px 36px 36px;
  }
}

.faq__collapse-wrapper{
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  margin-bottom: 24px;
  &:last-child{
    margin-bottom: 0;
  }
}