.dots-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  //margin-top: 50px;
}
.slider__wrapper{
  display: flex;
}

.dots{
  margin-right: 12px;
  width: 8px;
  height: 8px;
  background-color: #FCD297;
  border-radius: 50%;
  &:last-child{
    margin-right: 0;
  }
  &.active{
    width: 12px;
    height: 12px;
    background-color: #FAB047;
  }
}

.slider__item {
  max-width: 800px;
  margin: 0 auto;
  display: none;
  &.active {
    display: block;
  }
}