/*ICON_FONTS*/

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:after {
  content: "\e900";
  color: #424f7b;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  right: 0;
  transition: 0.4s;
}

.icon-arrow:hover:after{

  right: -7px;
}

.icon-facebook:before {
  content: "\e901";
  color: #fff;
}
.icon-instagram:before {
  content: "\e902";
  color: #fff;
}
.icon-twitter:before {
  content: "\e903";
  color: #fff;
}

/*ICON_FONTS_END*/

.main__btn-wrapper{
  transform:translateX(-150px);
  opacity: 0;
  transition: transform $mainAnimDur ease-in;

  button{
    @include breakpoint(sm){
    margin: 0 auto;
    }
  }
}

.main__img{
  display: flex;
 position: relative;
  gap: 3%;
}

.main__img-wrapper:nth-child(2){
  position: relative;
  top: 80px;
  margin-bottom: 96px;

  @media screen  and (max-width: 480px){
    top: 70px;
  }

  @media screen  and (max-width: 390px){
    top: 50px;
  }

  @include breakpoint(xs){
    margin-bottom: 72px;
    top: 40px;
  }
}

.main {
  padding: 80px 0 0;
  @include breakpoint(md){
    padding-top:20px;
  }
}

.main__row {

  display: flex;
  column-gap: 24px;
  align-items: center;
  @include breakpoint(lg){
    flex-direction: column-reverse;
  }
}

.main__text-content {
  max-width: 557px;
}

.main__title{
  transform: translateX(-150px);
  opacity: 0;
  transition: $mainAnimDur ease-in;
}

.main__text {
  max-width: 485px;
  margin:24px 0 32px;
  transform:translateX(-150px);
  opacity:0;
  transition: $mainAnimDur ease-in;

  @include breakpoint(sm){
    margin: 24px auto 32px;
  }
}

.main__img {
}

.main__img-wrapper {
}


.main__img-general{
  opacity: 0;
  transition: 1s ease-in;
}

.main__img-left{
  @extend .main__img-general;
  transform:translateY(200px);
}

.main__img-right{
  @extend .main__img-general;
  transform:translateY(200px);
}

.main__img-center{
  @extend .main__img-general;
  transform: translateY(-200px);
}



/*SECTION__CARDS*/
.cards {
  margin-top: 176px;
  padding-bottom: 80px;
  @include breakpoint(md){
    margin-top: 88px;
    padding: 0 0 40px;
  }
}

.card {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1200px) {
    column-gap: 5%;
    justify-content: normal;
  }

  @include breakpoint(md){
    flex-direction: column;
    margin-top: 88px;
  }
}

.card__img-wrapper {
  position: relative;
  overflow: hidden;
  height: 576px;
  width: 384px;

  @include breakpoint(md){
    width: 100%;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 384px) {
    height: 436px;
  }
}

.card__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 576px;
  width: 384px;
  @media screen and (max-width: 384px) {
    width: 100%;
    height: 436px;
  }
}

/*.card__left-pos{
  transform:translateX(150px);
  opacity: 0;
  transition: .6s ease-in;
}*/

.anim__to-left{
  transform:translateX(150px);
  opacity: 0;
  transition: $mainAnimDur ease-in;
}


.anim__to-right{
  transform:translateX(-150px);
  opacity: 0;
  transition: $mainAnimDur ease-in;;
}

.anim__to-top{
  transform:translateY(150px);
  opacity: 0;
  transition: $mainAnimDur ease-in;
}

.card__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 690px;
  @media screen  and (max-width: 1200px){
    flex-basis: 50%;
  }
  @include breakpoint(md){
    max-width: 557px;
    margin: 0 auto;
  }

}

.card__title {

  @include breakpoint(md){
    text-align: center;
  }
}

.card__desc {
  max-width: 584px;
  p{
    @include breakpoint(md){
      text-align: center;
    }
  }
  p:first-child{
    margin:24px 0 16px;
  }
  p:last-child{
    margin-bottom: 32px;
  }
}
.cards__lm{
  @include breakpoint(md){
    margin: 0 auto;
  }
}

/*SECTION__CARDS*/
/*ADVANTAGES__CARDS*/
.advantages {
  padding: 80px 0;
  .advantages__row {
    display: flex;
    flex-direction: column;
  }
  @include breakpoint(md){
    padding: 40px 0;
  }

}

.advantages__row {
  display: flex;
  flex-direction: column;
}

.advantages__card {
  display: flex;
  justify-content: space-between;
  &:last-child{
    flex-direction: row-reverse;
  }
  &:first-child{
    margin-bottom: 32px;
  }
  @media screen and (max-width:830px){
    justify-content: normal;
    column-gap: 5%;
  }
  @include breakpoint(md){
    &:last-child{
      flex-direction: column-reverse;
      align-items: center;
    }
    flex-direction: column-reverse;
    align-items: center;
    &:last-child{}
  }
}

.advantages__text {
  display: flex;
  flex-direction: column;
  max-width: 584px;
  flex-basis: 50%;
  justify-content: center;
}

.advantages__title {
  margin:20px 0 24px;
  @include breakpoint(md){
    text-align: center;
  }
}

.advantages__desc {
}

.advantages__img-wrapper {
  width: 384px;
  height: 384px;
  position: relative;
  overflow: hidden;
  @media screen  and (max-width: 384px){
    width: 100%;
    height: 340px;
  }
}
  .advantages__img{
    position: absolute;
    width: 100%;
    height: 384px;
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%,-50%);
    @media screen  and (max-width: 384px){
      width: 100%;
      height: 340px;
    }
  }

/*ADVANTAGES__CARDS*/

/*ROOMS*/
.rooms {
  padding-bottom: 80px;
  @include breakpoint(md){
    padding-bottom: 30px;
  }
 // display: flex;
}
.rooms__row{
  justify-content: space-between;
  display: flex;
  @media screen and (max-width: 700px){
    flex-direction: column;
    justify-content: center;
  }

}
.rooms__footer{
  display: flex;
  flex-direction: column;
}

.rooms__title {
  text-align: center;

}

.rooms__text {
  margin:24px auto 32px;
  max-width: 584px;
}
.rooms__btn-wrapper{
 button{
   margin: 0 auto 88px;
 }
}
.rooms__text-wrapper{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.rooms__card {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 700px){
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.rooms__img-wrapper {
  width: 100%;
  height: 489px;
  overflow: hidden;
  position: relative;
  @include breakpoint(md){
    height: 364px;
  }
}
.rooms__img{
  width: 100%;
  height: 489px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  object-fit: cover;
  transition-duration: 0.3s;
  &:hover{
    transform:translate(-50%,-50%) scale(1.2);
  }
  @include breakpoint(md){
    height: 364px;
  }
  @media screen and (max-width: 700px){
    max-width: 340px;;
  }

}

.rooms__card-title {
  margin-top: 32px;
  @include breakpoint(md){
    margin-top: 20px;
    text-align: center;
  }
}

.rooms__card-description {
  margin: 16px 0 32px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  @include breakpoint(md){
    font-size: 16px;
  }
  @media screen and (max-width: 700px){
    max-width: 400px;
    text-align: center;

  }
}

.rooms__learn-btn-wrapper {
  
  @media screen and (max-width: 700px){
    text-align: center;
  }
  //background-color: #0E1734;

}

/*ROOMS*/

/*FAQ*/
.faq {
  padding: 80px 0 84px;
}

.faq__row {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1050px){
    justify-content: normal;
    gap: 5%;
  }
  @include breakpoint(md){
    flex-direction: column;
  }
}

.faq__column:last-child {
  max-width: 588px;
  @include breakpoint(md){
    max-width: 100%;
  }
}

.faq__column:first-child{
  justify-content: center;
  flex-direction: column;
  display: flex;
  max-width: 415px;
  @include breakpoint(md){
    max-width: 100%;
  }
}

.faq__subtitle {
}

.faq__title {
  margin: 24px 0 12px;
}

.faq__desc {
  margin-bottom: 32px;
}

.faq__btn-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;

  a{
    margin-left: 24px;
    color:#0E1734;
    display: inline-block;
    border-bottom: 1px solid white;
    transition: 0.4s;
  }

  a:hover{
    border-bottom: 1px solid #0E1734;
  }

  @include breakpoint(lg){
    flex-direction: column;
    align-items: start;
    a{
      margin: 25px 0 0 ;
    }
  }
  @include breakpoint(md){
    flex-direction: row;
    a { margin: 0 0 0 24px; }
    margin-bottom: 24px;
    align-items: center;
  }
  @include breakpoint(sm){
    justify-content: center;
  }
  @media screen and (max-width:350px){
    flex-direction: column-reverse;
    a{
      margin: 0 0 15px;
    }
  }
}


/*FAQ*/
/*CUSTOMERS*/
.customers {
  padding: 80px 0 80px;
}

.customers_title {
text-align: center;
}

.slider {
}

.slider__wrapper {
}

.slider__item {
}

.active {
}

.slider__img {
  display: flex;
  justify-content: center;
  margin:62px 0 44px;
  @include breakpoint(md){
    margin: 32px 0 22px;
  }
}

.slider__desc{
  text-align: center;
  overflow: hidden;
  max-height: 81px;
  @include breakpoint(md){
    overflow: auto;
    max-height:150px;
  }
}

.slider__author {
  margin:40px 24px;
  text-align: center;
  color:#192252;
  @include breakpoint(md){
    margin: 20px 12px;
  }
}

.dots-wrapper {
}

.dots {
}

.fadeIn{
  opacity:1;
  transform: translate(0px, 0px);
}
/*CUSTOMERS*/