@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@600;700&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url($iconFontPath + 'icomoon.eot?rhxc22');
  src:  url($iconFontPath + 'icomoon.eot?rhxc22#iefix') format('embedded-opentype'),
  url($iconFontPath + 'icomoon.ttf?rhxc22') format('truetype'),
  url($iconFontPath + 'icomoon.woff?rhxc22') format('woff'),
  url($iconFontPath + 'icomoon.svg?rhxc22#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}