@mixin breakpoint($point){
  @if ($point == lg){@media (max-width: 992px) {@content;}}
  @else if($point == md){@media (max-width: 768px) {@content;}}
  @else if($point == sm){@media (max-width: 576px) {@content;}}
  @else if($point == xs){@media (max-width: 320px) {@content;}}
}

@mixin abs-position ($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
